ai_sdk_vector_store/
ai_sdk_sample_data/
unstructured_*/
node_modules/
__pycache__/
embeddings/
reports/
uploads/
.vscode/
tests/
logs/
venv/
google_service_account.json
package-lock.json
.DS_Store
*.pem
*.crt
*.key
*.bak
*.env